<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <behavioral_merchandising>
            <general>
                <enable>1</enable>
                <analysis_period>60</analysis_period>
                <debug_mode>0</debug_mode>
            </general>
            <weights>
                <weight_ctr>30</weight_ctr>
                <weight_atc>30</weight_atc>
                <weight_sales>40</weight_sales>
                <weight_revenue>20</weight_revenue>
                <weight_rating>10</weight_rating>
                <weight_bounce_penalty>20</weight_bounce_penalty>
            </weights>
            <constraints>
                <check_stock>0</check_stock>
                <check_discontinued>0</check_discontinued>
            </constraints>
            <anti_echo>
                <ctr_normalization_ceiling>5</ctr_normalization_ceiling>
                <bayesian_min_views>100</bayesian_min_views>
                <freshness_duration>30</freshness_duration>
                <boost_coming_soon>0</boost_coming_soon>
                <enable_shuffle>1</enable_shuffle>
                <shuffle_weight>2</shuffle_weight>
            </anti_echo>
        </behavioral_merchandising>
    </default>
</config>
